.poke-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input{
    width: 800px;
    height: 40px;
    font-size: 20px;
}
.button{
    color: #f7f3f4;
    background-color: #f00510;
    font-size: 30px;
    width: 150px;
    height: 40px;
}
