.pagination__list{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 10px;
}
.pagination__item{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}
.page__active{
    background-color: red;
    color: white;
}