@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Ubuntu:wght@300;400;500&display=swap');
/* reset*/

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
img{
    display: block;
    width: 100%;
}
button{
    border: none;
    display: inline-block;
    cursor: pointer;
}
input{
    outline: 0;
}